*{
    margin: 0;
    padding: 0
}
body{
    color: #333;
    --background-color: #FFB6C1;
    background:var(--background-color);   
}

body.dark{
    --background-color:#00FF00;
}
.header-user{
    display: flex;
    align-items: center;
    width: 1000px;
    margin: 30px auto;
}
.header-user img{
    width: 320px;
    height: 180px;
    margin-right: 40px;
}
.header-user .text h1{
    margin-bottom: 20px;
    color:red;
}
.header-user .text h2{
    margin-bottom: 20px;
    color:blue;
}

.nav,.nav1,.nav2,.nav3,.nav4,.nav5,.nav6{
    width: 1000px;
    margin: auto;
    background: #ffffff;
    text-align: center;
    padding: 15px 0;
    
}
.nav a,.nav1 a,.nav2 a,.nav3 a,.nav4 a,.nav5 a,.nav6 a{
    text-decoration:none;
    font-size: 40px;
    color: #333333;
    padding: 25px 40px;
}


.nav .active,.nav a:hover{
    background: red;
    color: #FFFFFF;
}
.nav1 .active,.nav1 a:hover{
    background: red;
    color: #FFFFFF;
}
.nav2 .active,.nav2 a:hover{
    background: red;
    color: #FFFFFF;
}
.nav3 .active,.nav3 a:hover{
    background: red;
    color: #FFFFFF;
}

.nav4 .active,.nav4 a:hover{
    background: red;
    color: #FFFFFF;
}
.nav5 .active,.nav5 a:hover{
    background: red;
    color: #FFFFFF;
}
.nav6 .active,.nav6 a:hover{
    background: red;
    color: #FFFFFF;
}
.switch{
    position:fixed;
    right:40px;
    /*bottom:140px;*/
    top:140px;
}
.switch-input{
    display:none;
}
.switch-label{
    display:block;
    width:80px;
    height:40px;
    border-radius:20px;
    border:2px solid grey;
    box-sizing:border-box;
    padding:2px;
}
.switch-label:after{
    display:block;
    position:relative;
    content:'';
    width:50%;
    height:100%;
    left:0;
    background:grey;
    border-radius:20px;
    transition:all .2s ease-in;
}
.switch-input:checked + .switch-label:after{
    left:50%;
    transform:rotate(360deg)
}
.picture{
    center{
        display:flex;
        width: 1000px;
        margin:auto;
    }
}


