*{
    margin: 0;
    padding: 0
}
body{
    color: #333;
    background: #f2f2f2;
}
.header-user{
    display: flex;
    align-items: center;
    width: 1000px;
    margin: 30px auto;
}
.header-user img{
    width: 320px;
    height: 180px;
    margin-right: 40px;
}
.header-user .text h1{
    margin-bottom: 20px;
}
.nav,.nav1,.nav2{
    width: 1000px;
    margin: auto;
    background: #ffffff;
    text-align: center;
    padding: 15px 0;
    
}
.nav a,.nav1 a,.nav2 a{
    text-decoration:none;
    font-size: 40px;
    color: #333333;
    padding: 25px 40px;
}


.nav .active,.nav a:hover{
    background: red;
    color: #FFFFFF;
}
.nav1 .active,.nav1 a:hover{
    background: red;
    color: #FFFFFF;
}
.nav2 .active,.nav2 a:hover{
    background: red;
    color: #FFFFFF;
}
  
    
