*{
    margin: 0;
    padding: 0
}
body{
    color: #333;
    background: #f2f2f2;
}
.header-user{
    display: flex;
    align-items: center;
    width: 1000px;
    margin: 20px auto;
}
.header-user img{
    width: 160px;
    height: 90px;
    margin-right: 20px;
}
.header-user .text h3{
    margin-bottom: 5px;
}
.nav{
    width: 1000px;
    margin: auto;
    background: #ffffff;
    text-align: center;
    padding: 10px 0;
}
.nav a{
    text-decoration: none;
    color: #333333;
    padding: 10px 30px;
}
.nav .avtive,.nav a:hoven{
    background: red;
    color: #FFFFFF;
}


    
